ai-damage-analysis-workflow.json
{
  "name": "AI Damage Analysis Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze_damage",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        64
      ],
      "id": "94d107dd-c231-4670-89d4-e3bd6a157129",
      "name": "analyze-damage",
      "webhookId": "599c4cba-dfe4-4530-90f6-dd767b89d445"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nlet imageData;\nif (typeof body === 'string') {\n  const parsed = JSON.parse(body.replace(/\\n/g, '').trim());\n  imageData = parsed.image;\n} else {\n  imageData = body.image;\n}\n\nreturn [{ json: { image: imageData, vehicle_no: body.vehicle_no || \"\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        64
      ],
      "id": "cb1c038c-e760-41e8-a950-1d7c464bfe8f",
      "name": "base64 image extract"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_ngrok_URL",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"ngrok-skip-browser-warning\": \"true\"\n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image",
              "value": "={{ $('base64 image extract').item.json.image }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        64
      ],
      "id": "3cf39078-40c7-43bd-867a-05a50f506751",
      "name": "damage detection",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_ngrok_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image\": \"={{ $('base64 image extract').item.json.image }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        64
      ],
      "id": "7cb9a309-9374-441c-ad72-57ae9063b178",
      "name": "AI/fake image check"
    },
    {
      "parameters": {
        "jsCode": "const damage = $('damage detection').item.json;\nconst gan = $('AI/fake image check').item.json;\nconst vehicle_no = $('base64 image extract').item.json.vehicle_no;\n\nreturn [{\n  json: {\n    vehicle_no: vehicle_no,\n    damage_type: damage.damage_type,\n    severity: damage.severity,\n    confidence: damage.confidence,\n    is_fake_image: gan.is_fake,\n    fake_confidence: gan.confidence_score,\n    analysis_passed: !gan.is_fake && damage.confidence > 0.4\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        64
      ],
      "id": "41d1908e-44cb-4c8b-a60a-95a8072aaf57",
      "name": "results combine"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  \"success\": true,\n  \"vehicle_no\": $('results combine').item.json.vehicle_no,\n  \"damage_type\": $('results combine').item.json.damage_type,\n  \"severity\": $('results combine').item.json.severity,\n  \"confidence\": $('results combine').item.json.confidence,\n  \"is_fake_image\": $('results combine').item.json.is_fake_image,\n  \"analysis_passed\": $('results combine').item.json.analysis_passed\n}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1344,
        64
      ],
      "id": "1d39bafc-6abe-4f2a-9b31-08e172bcbae3",
      "name": "final result"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SUPABASE_URL",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"apikey\": \"Your_apikey\",\n  \"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im95cHZiZ3R1cXl4bmpjcWJpY2t5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyNjU2MDEsImV4cCI6MjA5MTg0MTYwMX0.IpdX-0bWJV4-ymOsb0496GHmtG_Fwp6zHA6ATEUce74\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vehicle_no\": \"={{ $('results combine').item.json.vehicle_no }}\",\n  \"damage_type\": \"={{ $('results combine').item.json.damage_type }}\",\n  \"severity\": \"={{ $('results combine').item.json.severity }}\",\n  \"confidence\": {{ $('results combine').item.json.confidence }},\n  \"is_fake_image\": {{ $('results combine').item.json.is_fake_image }},\n  \"fake_confidence\": {{ $('results combine').item.json.fake_confidence }},\n  \"analysis_passed\": {{ $('results combine').item.json.analysis_passed }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        64
      ],
      "id": "a0cb2f4a-6684-4a10-a875-64a02456b29d",
      "name": "Save to supabase"
    }
  ],
  "pinData": {},
  "connections": {
    "analyze-damage": {
      "main": [
        [
          {
            "node": "base64 image extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base64 image extract": {
      "main": [
        [
          {
            "node": "damage detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "damage detection": {
      "main": [
        [
          {
            "node": "AI/fake image check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI/fake image check": {
      "main": [
        [
          {
            "node": "results combine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "results combine": {
      "main": [
        [
          {
            "node": "Save to supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to supabase": {
      "main": [
        [
          {
            "node": "final result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "724e4a88-8cd2-49e1-b795-f401490a3871",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08b2a0de6fc5cf1f03fd09f121e751e7e8cb21baeb2ad69f3233f78202d952bc"
  },
  "id": "nn4gDk0N0RvyjBTt",
  "tags": []
}