insurance-verification-workflow.json
{
  "name": "Insurance Policy Verification",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"No active insurance policy found for this vehicle.\"\n}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        128
      ],
      "id": "cd08c34c-98da-4018-a0a8-67cde006b7b1",
      "name": "Return User Not Found"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0a843f75-0bb7-4ddd-9645-c2099bab124b",
              "leftValue": "=$('check expiry').item.json.is_expired",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        -64
      ],
      "id": "bb3e090c-4ce0-437c-b640-b8efc84a33e8",
      "name": "Policy expired?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "a742d458-7e33-48c5-ade8-ad6435c248ea",
              "leftValue": "=={{ $items(\"GET Supabase\").length > 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        32
      ],
      "id": "a5f9dc35-50bc-402a-a6ef-4d4ec2dac883",
      "name": "Policy exists AND active?"
    },
    {
      "parameters": {
        "url": "YOUR_SUPABASE_URL",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "vehicle_no",
              "value": "=eq.{{ $('parse body').item.json.vehicle_no }}"
            },
            {
              "name": "status",
              "value": "=eq.active"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"apikey\": \"YOUR_apikey\",\n  \"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im95cHZiZ3R1cXl4bmpjcWJpY2t5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyNjU2MDEsImV4cCI6MjA5MTg0MTYwMX0.IpdX-0bWJV4-ymOsb0496GHmtG_Fwp6zHA6ATEUce74\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        32
      ],
      "id": "83be379d-662a-46c0-af08-7f7f0bdb46aa",
      "name": "GET Supabase",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const rawBody = $input.first().json.body;\nlet vehicle_no;\n\nif (typeof rawBody === \"string\") {\n  const parsed = JSON.parse(rawBody.replace(/\\n/g, '').trim());\n  vehicle_no = parsed.vehicle_no;\n} else {\n  vehicle_no = rawBody.vehicle_no;\n}\n\nreturn [{ json: { vehicle_no } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        32
      ],
      "id": "00d9dfd3-468d-4164-8164-c636d41d8faf",
      "name": "parse body"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verify-policy",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        32
      ],
      "id": "2063fd71-ad59-43ac-bdfc-8646b30d4bbb",
      "name": "verify-policy",
      "webhookId": "b298acbb-a6b2-481b-87e1-6abf1cdc53c5"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const policy = item.json;\n  const now = new Date();\n  const expiry = new Date(policy.expiry_date);\n  const isExpired = expiry < now;\n\n  return {\n    json: {\n      ...policy,\n      is_expired: isExpired ? \"yes\" : \"no\",\n      days_remaining: Math.floor((expiry - now) / (1000 * 60 * 60 * 24))\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -64
      ],
      "id": "7e5919b3-47dd-432c-82c5-7e29a0e1b44a",
      "name": "check expiry"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Policy has expired. Please renew your insurance.\",\n  \"expired_on\": \"{{ $('Policy expired?').item.json.expiry_date }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1344,
        -160
      ],
      "id": "bac6fb9e-6226-47d3-93c8-9fcc1999fd7f",
      "name": "Policy expired"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Policy is active\",\n  \"policy_number\": \"{{ $('check expiry').item.json.policy_number }}\",\n  \"policy_type\": \"{{ $('check expiry').item.json.policy_type }}\",\n  \"expiry_date\": \"{{ $('check expiry').item.json.expiry_date }}\",\n  \"days_remaining\": \"{{ $('check expiry').item.json.days_remaining }}\",\n  \"insured_amount\": \"{{ $('check expiry').item.json.insured_amount }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1344,
        32
      ],
      "id": "aacac911-5168-44a2-983d-3a6f562c1aab",
      "name": "Policy valid"
    }
  ],
  "pinData": {},
  "connections": {
    "Policy expired?": {
      "main": [
        [
          {
            "node": "Policy expired",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Policy valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy exists AND active?": {
      "main": [
        [
          {
            "node": "check expiry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return User Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Supabase": {
      "main": [
        [
          {
            "node": "Policy exists AND active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse body": {
      "main": [
        [
          {
            "node": "GET Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verify-policy": {
      "main": [
        [
          {
            "node": "parse body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check expiry": {
      "main": [
        [
          {
            "node": "Policy expired?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7dcc25bc-4c2f-4eb6-8a4b-4816cdb4f3e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08b2a0de6fc5cf1f03fd09f121e751e7e8cb21baeb2ad69f3233f78202d952bc"
  },
  "id": "vvjKLhTvnylP42uV",
  "tags": []
}